.locked {
  border: red 1px solid;
}
.unlocked {
  border: green 1px solid;
}

.locked-dice {
  border: 10px solid red;
  padding: 10px;
}
.live-dice {
  border: 10px solid green;
  padding: 10px;
}

.die {
  padding: 8px;
  border-radius: 2px;
  margin: 3px;
}
